@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-black-50: #1e1e1e;
  --color-gray-50: #a7a7a7;
  --color-gray-100: #4d4d4d;
  --color-purple-50: #edd4ff;
  --color-purple-100: #8b5be4;

  --shadow-black: 4px 4px 0px #000;
  --shadow-white: 4px 4px 0px #fff;

}
